body{
  margin: 0;
 /* font-family: fantasy;*/
}

header{
  text-align: right;
}

header .navber{
  background-color: rgba(0,0,0,1);
  width: 100%;
  height: 60px;
}

.sns:hover{
  opacity: 0.5;
  transition: 0.6s;
}

.from:hover{
  opacity: 0.5;
  transition: 0.6s;
}

.dendai:hover{
  opacity: 0.5;
  transition: 0.6s;
}

ul{
  margin: 0;
  padding-top: 10px;

}

li{
  list-style-type: none;
  display: inline-block;
  margin: 10px;
}

li a{
  text-decoration: none;
}

a{
  color: #fff;
}

section{
}

section .test_bg1{
  background-image: url(../img/teriyaki3.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 800px;
}

section .test_bg1 h1{
  margin: 0;
  color: #fff;
  font-size: 40px;
  text-align: center;
  padding-top: 150px;
  /*font: inherit;*/
}

section .test_bg2{
  background-image: url(../img/teriyaki2.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 800px;
}

section .test_bg3{
  background-image: url(../img/teriyaki4.jpg);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 800px;
}

footer{ 
}

footer .under{
  background-color: rgba(0,0,0,1);
} 
